* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.name {
	font-size: 2em;
}
.page {
	padding-left: 0.5cm;
	padding-top: 0.5cm;
	padding-right: 0.5cm;
}

.align-center {
	text-align: center;
}
/*
ol li {
	display: inline;
} */

body {
	font-size: 1em;
}

.description {
	font-size: 0.9em !important;
}

.text-small {
	font-size: 0.9em !important;
}

i.fa {
	margin: 10px;
}
